@font-face {
    font-family: 'Giants-Inline';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2307-1@1.1/Giants-Inline.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

body {
	height: auto;
}

.logo {
	position: relative;
	display: flex;
	justify-content: center; /* 가로 가운데 정렬 */
    align-items: center; /* 세로 가운데 정렬 */
	width: 100%;
	margin:0 auto;
	left: -10px;
}

#Gp {
	position: relative;
	top: 20px;
	left: -50px;
	font-family: 'Giants-Inline';
	font-size: 4em;
	color: black;
}


.menu {
	display: flex;
	list-style: none;
	align-items: flex-start;
	
	width:100%;
	position: fixed;
	top: 150px;
	left: 0px;
	text-align: center;
	
	background-color: #333;
	
}


.menu-item {
	width: 150px;
	height : auto;
	margin: 0 auto;
	
	font-family: 'Nanum Gothic Coding', monospace;
	color: white;
	flex-shrink: 0;  /*화면을 줄여도 flex를 줄이지 않는다*/
	
}

.menu-item a {
	text-decoration: none;
}

.menu-item:hover > .menu-title {
	text-shadow:  10px 10px 5px darkgray;
}

.menu-item:hover > .sub-menu {
	max-height: 300px;
	transition : max-height 1s;
}

.menu-item:nth-last-child(1) {
	margin-left : auto;
	margin-right: 10px;
	color: darkgray;
}

.menu-item:nth-last-child(1) a {
	font-size: 10px;
	color: white;
}

.menu-title {
	padding: 5px;
	font-size: 13pt;
}

.menu-title:hover + .sub-menu {
	display: block;
}
.menu-title:hover + .log-menu {
	display: block;
}

.sub-menu {
	max-height : 0px;
	overflow : hidden;
	list-style: none;
	padding-left: 0px;
}

.sub-menu-item {
	
}

.sub-menu-item > a {
	display: block;
	padding: 10px;
	font-size: 10pt;
	text-decoration: none;
	color: white;
}

.sub-menu-item:hover > a {
	border-radius: 50px; 
	background: lightcyan;
	color: darkslateblue;
}



iframe {
	margin-top : 100px;
}
