@font-face {
    font-family: 'Giants-Inline';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2307-1@1.1/Giants-Inline.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

body {
	height: auto;
}

.menu {
	display: flex;
	list-style: none;
	align-items: flex-start;
	
	width:100%;
	position: fixed;
	top: 0px;
	left: 0px;
	text-align: center;
	
	background-color: lightsteelblue;
	margin-top: -8px;
	
}


#Gp {
	position: absolute;
	top: 30px;
	left: 90px;
	font-family: 'Giants-Inline';
	font-size: 3em;
	color: darkslateblue;
}

.logo-img {
	position: relative;
	float: left;
	top: -5px;
	left: -25px;
}

.menu-item {
	position: relative;
	width: 150px;
	height : auto;
	margin-top: 35px;
	margin-left: 0px;
	left: 150px;
	
	font-family: 'Nanum Gothic Coding', monospace;
	color: dimgray;
	flex-shrink: 0;  /*화면을 줄여도 flex를 줄이지 않는다*/
	
}

.menu-item a {
	text-decoration: none;
}


.menu-item:hover > .menu-title {
	text-shadow:  10px 10px 5px cadetblue;
}

.menu-item:hover > .sub-menu {
	max-height: 300px;
	
	transition : max-height 1s;
}

.menu-item:nth-last-child(1) {
	margin-left : 900px;
	margin-right: 10px;
}

.menu-title {
	padding: 10px;
	font-size: 13pt;
}

.menu-title:hover + .sub-menu {
	display: block;
}
.menu-title:hover + .log-menu {
	display: block;
}
.sub-menu {
	max-height : 0px;
	overflow : hidden;
	list-style: none;
	padding-left: 0px;
}

.sub-menu-item {
	
}

.sub-menu-item > a {
	display: block;
	padding: 10px;
	font-size: 10pt;
	text-decoration: none;
	color: gray;
}

.sub-menu-item:hover > a {
	border-radius: 50px; 
	background: lightcyan;
	color: darkslateblue;
}

.log-menu {
	max-height : 0px;
	overflow : hidden;
	list-style: none;
	padding-left: 0px;
}

.login-name {
	font-size: 10pt;
}

.login-name > a {
	text-decoration: none;
	color: gray;
}

.logout-sub > a {
	display: block;
	padding: 10px;
	font-size: 10pt;
	text-decoration: none;
	color: gray;
}

.logout-sub:hover > a {
	color: darkslateblue;
}

iframe {
	margin-top : 100px;
}
